article
	section
		.content.grayfon
			.content__header.wow.fadeIn#a2 Если внутри вас живут: 
			.mid
				.anons.wow.zoomIn
					.anons__fon
						.anons__number.left
							.anons__nbor
								.anons__num 1
						.anons__content.right
							.anons__text
								.anons__zag Страх
								.anons_p Каждое новое дело и начинание вызывает у вас беспокойство в душе и мысли, что это невозможно реализовать 
							.anons__img
								img.anons__pic(src="assets/img/img1.jpg", alt="Страх")
				.anons.wow.zoomIn( data-wow-delay=".5s")
					.anons__fon
						.anons__number.left
							.anons__nbor
								.anons__num 2
						.anons__content.right
							.anons__text
								.anons__zag Неуверенность
								.anons_p Вы давно уже забыли, что значит быть твёрдо уверенным в себе. Так как все ваши дела не приносят должного результата

							.anons__img
								img.anons__pic(src="assets/img/img2.jpg", alt="Страх")
				.anons.wow.zoomIn( data-wow-delay=".55s")
					.anons__fon
						.anons__number.left
							.anons__nbor
								.anons__num 3
						.anons__content.right
							.anons__text
								.anons__zag Проблемы
								.anons_p У вас накопилась большая куча проблем, и с каждым днем они нарастают как снежный ком, повышая ваш стресс

							.anons__img
								img.anons__pic(src="assets/img/img3.jpg", alt="Страх")
				.anons.wow.zoomIn( data-wow-delay=".6s")
					.anons__fon
						.anons__number.left
							.anons__nbor
								.anons__num 4
						.anons__content.right
							.anons__text
								.anons__zag Бардак
								.anons_p У вас сплошной беспорядок, как в ваших делах, так и в вашей жизни. Который с каждым днем все больше давит на вас 

							.anons__img
								img.anons__pic(src="assets/img/img4.jpg", alt="Страх")
				.anons.wow.zoomIn( data-wow-delay=".65s")
					.anons__fon
						.anons__number.left
							.anons__nbor
								.anons__num 5
						.anons__content.right
							.anons__text
								.anons__zag Безысходность
								.anons_p Вы буквально связаны по рукам и ногам... Сила воли уже не та, и заставить себя что-то делать - нет сил

							.anons__img
								img.anons__pic(src="assets/img/img5.jpg", alt="Страх")
				.anons.wow.zoomIn( data-wow-delay=".7s")
					.anons__fon
						.anons__number.left
							.anons__nbor
								.anons__num 6
						.anons__content.right
							.anons__text
								.anons__zag Неудачи
								.anons_p Они буквально преследуют вас по пятам. Вы злитесь на пустом месте, расстраивая родных и близких. И потом жалеете об этом

							.anons__img
								img.anons__pic(src="assets/img/img6.jpg", alt="Страх")
			.mid
				.content__zak.shadow-light.wow.bounceIn Хватит себя жалеть! #[span.orange Всего за одну неделю] вы сможете #[br]  решить все ваши проблемы.
				
	section
		.sell.blackfon
			.mid
				.sell__box.left.wow.fadeInLeft
					img.sell__img(src="assets/img/lev.png", alt="Lion sistem cover")
				.sell__text.right.wow.fadeInRight
					.sell__zag Включи льва 
						span.yellow прямо сейчас
					.sell__a
						a(href="#").sell__button Забрать систему
					.timer
						.timer__header.white.shadow-dark Доступ с системе будет закрыт через:
						.countdown2 
						#note2.white.shadow-dark
	section
		.content.grayfon
			.content__header.wow.fadeIn#a3 Чего вы добьетесь по нашей системе: 
			.mid
				.anons.wow.zoomIn
					.anons__fon
						.anons__number.left
							.anons__nbor
								.anons__ico.ico1
						.anons__content.right
							.anons__text
								.anons__zag Реактивный старт
								.anons_p Благодаря нашим технологиям вы быстро разовьёте в себе полезные привычки, которые заметно улучшат вашу жизнь

							.anons__img
								img.anons__pic(src="assets/img/img7.jpg", alt="Страх")
				.anons.wow.zoomIn( data-wow-delay=".5s")
					.anons__fon
						.anons__number.left
							.anons__nbor
								.anons__ico.ico2
						.anons__content.right
							.anons__text
								.anons__zag Сила льва
								.anons_p Уверенность в себе просто не будет знать границ. Вы добьётесь успеха во всех делах. А люди будут относится к вам с уважением


							.anons__img
								img.anons__pic(src="assets/img/img8.jpg", alt="Страх")
				.anons.wow.zoomIn( data-wow-delay=".55s")
					.anons__fon
						.anons__number.left
							.anons__nbor
								.anons__ico.ico3
						.anons__content.right
							.anons__text
								.anons__zag Точно в цель
								.anons_p Проблемы? Что это? Вы решаете все сразу и максимально эффективно. Именно так делают победители... или львы


							.anons__img
								img.anons__pic(src="assets/img/img9.jpg", alt="Страх")
				.anons.wow.zoomIn( data-wow-delay=".6s")
					.anons__fon
						.anons__number.left
							.anons__nbor
								.anons__ico.ico4
						.anons__content.right
							.anons__text
								.anons__zag Власть льва
								.anons_p Вы получите полный контроль над своей жизнью. Приведете все дела в порядок и заметно увеличите свою продуктивность 


							.anons__img
								img.anons__pic(src="assets/img/img10.jpg", alt="Страх")
				.anons.wow.zoomIn( data-wow-delay=".65s")
					.anons__fon
						.anons__number.left
							.anons__nbor
								.anons__ico.ico5
						.anons__content.right
							.anons__text
								.anons__zag Король джунглей
								.anons_p Как лев забирает свое по праву. Так и вы достойны большего в своей жизни. Вам надо только протянуть руку и забрать это


							.anons__img
								img.anons__pic(src="assets/img/img11.jpg", alt="Страх")
				.anons.wow.zoomIn( data-wow-delay=".7s")
					.anons__fon
						.anons__number.left
							.anons__nbor
								.anons__ico.ico6
						.anons__content.right
							.anons__text
								.anons__zag Новый Я
								.anons_p Снимите с себя маску неудачника, это всего лишь иллюзия. На самом деле вы сильны, умны и способны многого добиться


							.anons__img
								img.anons__pic(src="assets/img/img12.jpg", alt="Страх")
			.mid
				.content__zak.shadow-light.wow.bounceIn ДАВАЙ ЖЕ! #[span.orange ВОЗЬМИ ЖИЗНЬ В СВОИ РУКИ...] 
				
	section
		.sell.blackfon
			.mid
				.sell__box.left.wow.fadeInLeft
					img.sell__img(src="assets/img/lev.png", alt="Lion sistem cover")
				.sell__text.right.wow.fadeInRight
					.sell__zag Включи льва 
						span.yellow прямо сейчас
					.sell__a
						a(href="#").sell__button Забрать систему
					.timer
						.timer__header.white.shadow-dark Доступ с системе будет закрыт через:
						.countdown3 
						#note3.white.shadow-dark
						
	section
		.content.crownfon
			.content__header.wow.fadeIn#a4 КАК ПОЛУЧИТЬ СИСТЕМУ?
			.mid.tac
				.circle.wow.zoomInUp 
					.circle__step1 Вы подписываетесь указав свой email
				.circle.wow.zoomInUp( data-wow-delay=".3s")
					.circle__step2 Подтверждаете подписку на систему "ЛЕВ"
				.circle.wow.zoomInUp( data-wow-delay=".6s")
					.circle__step3 Мы высылаем обучающие материалы
				.circle.wow.zoomInUp 
					.circle__step4 Вы скачиваете уроки на свой компьютер
				.circle.wow.zoomInUp( data-wow-delay=".3s")
					.circle__step5 Проходите их и получаете результат!
				