article
	section
		.content.grayfon
			.content__header Если внутри вас живут: 
			.mid
				.content__zak.shadow-light Хватит себя жалеть! #[span.orange Всего за одну неделю] вы сможете #[br]  решить все ваши проблемы.