.content
	.content__header.wow.fadeIn СТАНЬТЕ НОМЕРОМ 1 В СВОЕЙ ЖИЗНИ!
	.header__bottom
		.mid.clearfix
			.sub.right.wow.fadeInUp
				.sub__border-form.sub__border-form_footer
					form.sub__form(action="#")
						.sub__zag Пройти обучение:  
						div
							input.sub__mail(type="mail", placeholder="Введите свой e-mail... ")
						p.sub__p и нажмите на кнопку ниже
						div
							input.sub__submit(type="submit", value="Забрать систему")
				.timer
					.timer__header Доступ с системе будет закрыт через:
					.countdown4
					#note4
			.box.left.wow.fadeInUp 
				img.box__img.box__img_footer(src="assets/img/end.jpg", alt="Lion sistem cover")
		
		