header
	.header
		.header__top.blackfon
			.mid
				h2.header__disc Система власти над собой
				h1.header__name Л.Е.В.
			.header__bottom.crownfon
				.mid
					.sub.right
						.sub__border-form
							form.sub__form(action="#")
								.sub__zag Пройти обучение:  
								div
									input.sub__mail(type="mail", placeholder="Введите свой e-mail... ")
								p.sub__p и нажмите на кнопку ниже
								div
									input.sub__submit(type="submit", value="Забрать систему")
					.box.left 
						img.box__img(src="assets/img/lev.png", alt="Lion sistem cover")