nav
	#mmenu.menu.default
		.mid
			ul.menu__ul#top-menu
				li.menu__li.active
					a.menu__a(href="#a1") Забрать систему
				li.menu__li
					a.menu__a(href="#a2") Для кого
				li.menu__li
					a.menu__a(href="#a3") Чем поможет
				li.menu__li
					a.menu__a(href="#a4") Как получить