.header__name
	font-size: 90px
	line-height: 90px
	text-align: right
	color: #ffc000
	margin-bottom: 200px
	padding: 0 140px 0 0

.header__disc
	font-size: 48px
	line-height: 48px
	color: #fff

.header__top
	padding: 1px 0

.mid
	+clearfix

.box__img
	width: 100%
	height: auto
	margin-top: -240px

.sub__border-form
	border: 5px solid rgba(255, 255, 255, 0.6)
	box-shadow: 1px 1px 3px #222
	margin-top: -160px
.sub__form
	background: #ffcc00
	padding: 40px
	
.sub__zag 
	font-size: 30px
	color: #111
	margin-bottom: 20px

.sub__mail, 
.sub__submit
	font-weight: 300
	width: 100%
	padding: 15px 0
	transition: .5s

.sub__mail
	font-size: 20px
	outline: none
	line-height: 20px
	text-indent: 20px
	border: 1px solid #c7b900
	
	&:focus
		border: 1px solid transparent
		box-shadow: 0 0 7px #886600

.sub__p
	text-align: center
	color: #111
	font-size: 20px
	font-weight: 300px
	margin: 20px 0

.sub__submit
	font-size: 30px
	color: #fff
	text-transform: uppercase
	text-align: center
	border: 0
	background: #b50000
	line-height: 30px
	text-shadow: 1px 1px 3px #700000
	box-shadow: 1px 1px 3px #bb8800

	&:hover
		// animation: puzo linear .5s infinite
		background: #00778d
		text-shadow: 1px 1px 3px #005b6c
		box-shadow: 0 0 3px #9f7300