<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>Система власти над собой</title>
    <meta charset="UTF-8">
    <meta name="description" content="Описание">
    <meta name="author" content="Имя Автора">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Иконка сайта -->
    <link rel="shortcut icon" type="image/png" href="images/logo.png">
    <link rel="apple-touch-icon" href="img/favicon/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-icon-114x114.png">
    <!-- Стили -->
    <link rel="stylesheet" href="assets/css/main.css">
  </head>
    <body>

          {{ content }}
          
    </body>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
  	<script src="assets/js/functions.js"></script>  
</html>
